* {
    box-sizing: border-box;
}
header {
    display: flex;
    background: lightgray

}
header b {
    display: flex;
    padding: 20px;
    margin-right: 300px;
    width: 50%;

}
header a {
    padding: 15px;
    display: flex;
}
img {
    width: 300px;
    float: right;
    border-radius: 20px;

}