* {
    box-sizing: border-box;
}
header {
    display: flex;
    padding: 20px;
    background: lightgray

}
header b {
    display: flex;
    padding: 20px;

}
header a {
    padding: 15px;
    display: flex;
}